/*#region ext-tree样式调整 */
.x-tree-icon {
	width: 0px;
	height: 24px;
	line-height: 24px;
	color: #b0b0b0;
	font-size: 16px;
}

.x-grid-item {
	color: #000000;
	font: normal 13px/15px helvetica, arial, verdana, sans-serif;
	background-color: #fff;
}

.x-grid-cell-inner-treecolumn {
	display: flex;
}

	.x-grid-cell-inner-treecolumn .x-tree-elbow-img {
		min-width: 18px;
	}

.x-keyboard-mode .x-grid-item-focused {
	color: #000000;
}

.x-tree-featurenode-text {
	color: #1cc97e;
	padding-left: 4px;
}

	.x-tree-featurenode-text .x-tree-node-text {
		color: #1cc97e;
	}

.x-tree-functionnode-text {
	color: #1196f8;
	padding-left: 4px;
}

	.x-tree-functionnode-text .x-tree-node-text {
		color: #1196f8;
	}

.x-tree-failurenode-text {
	color: #f64448;
	padding-left: 4px;
}

	.x-tree-failurenode-text .x-tree-node-text {
		color: #f64448;
	}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	/*	background-image: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
	box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
	border-radius: 100px;*/
	background-color: #e4e4e4;
	border-radius: 100px;
}


::-webkit-scrollbar-thumb {
	background-color: #1196f8;
	border-radius: 100px;
}
