/********** responsivecolumn *************/
.big-100 {
    width: calc(100% - 5px);
    background-position: 100% 5px !important
}

.big-80 {
    width: calc(80% - 5px);
    background-position: 80% 5px !important
}

.big-75 {
    width: calc(75% - 5px);
    background-position: 75% 5px !important
}

.big-70 {
    width: calc(70% - 5px);
    background-position: 70% 5px !important
}

.big-60 {
    width: calc(60% - 5px);
    background-position: 60% 5px !important
}

.big-50 {
    width: calc(50% - 5px);
    background-position: 50% 5px !important
}

.big-40 {
    width: calc(40% - 5px);
    background-position: 40% 5px !important
}

.big-33 {
    width: calc(33.33% - 5px);
    background-position: 33.33% 5px !important
}

.big-32_5 {
    width: calc(32.5% - 5px);
    background-position: 32.5% 5px !important
}

.big-30 {
    width: calc(30% - 5px);
    background-position: 30% 5px !important
}

.big-25 {
    width: calc(25% - 5px);
    background-position: 25% 5px !important
}

.big-20 {
    width: calc(20% - 5px);
    background-position: 20% 5px !important
}

.big-18_75 {
    width: calc(18.75% - 5px);
    background-position: 18.75% 5px !important
}

.big-15 {
    width: calc(15% - 5px);
    background-position: 15% 5px !important
}

.big-10 {
    width: calc(10% - 5px);
    background-position: 10% 5px !important
}

.x-responsivecolumn-small > .small-100 {
    width: calc(100% - 5px);
    background-position: 100% 5px !important
}

.x-responsivecolumn-small > .small-50 {
    width: calc(50% - 5px);
    background-position: 50% 5px !important
}

.back_png_comscore {
    background: url(../Images/综合评分.png) no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.back_png_urgtask {
    background: url(../Images/紧急任务.png) no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.back_png_pentask {
    background: url(../Images/待处理任务.png) no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.back_png_timprotask {
    background: url(../Images/超时处理任务.png) no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.back_png_cumprotask {
    background: url(../Images/累计处理任务.png) no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.back_png_supranking {
    background: url(../Images/供应商排名.png) no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.back_png_docbackground {
    background: url(../Images/DocBackground.png) no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
}
/********** responsivecolumn *************/
