/*#region 处理流程记录-标题 */
.x-panel-header {
    background: #F2F4F6;
    border: 2px solid #c2c2c2;
    border-bottom-width: 0px;
}

.x-panel-header-top {
    padding: 5px 10px 5px 10px;
}

.x-panel-header .x-title {
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #157FCC;
    border: 0px solid #DCE0E7;
}

.x-panel-header .x-tool-collapse-top {
    background-image: url(/images/WorkFlows/collapse.png);
    background-color: #F2F4F6;
}

.x-panel-header .x-tool-expand-bottom {
    background-image: url(/images/WorkFlows/expand.png);
    background-color: #F2F4F6;
}

.x-panel-header .x-tool-collapse-right {
    background-position: 0 -176px;
    background-image: url(/ExtJs/themes/theme-neptune/resources/images/tools/tool-sprites-dark.png);
}

/*#endregion */

.record-content .x-form-display-field {
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #000000;
}

.record-content-trigger {
    border: 0px;
}

.record-handler .x-form-display-field {
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: #666666;
}

.task-record-card .x-panel-body {
    background: #FFFFFF;
    border: 2px solid #DCE0E7;
    box-shadow: 0px 4px 6px 0px rgba(201, 201, 201, 0.23);
}

.task-record-card .x-panel {
    background: #FFFFFF;
}


.record-card {
    border: 2px solid #ccc;
    border-radius: 8px;
}

.record-card-title {
    font-size: 14px;
    font-weight: bold;
    font-family: Microsoft YaHei;
    font-weight: bold;
    width: 100%;
    color: #157FCC;
    border-bottom: 2px solid #DCE0E7;
    padding-left: 10px;
    height: 32px;
    line-height: 32px;
    background-color: #F2F4F6;
    overflow: hidden;
}

.record-card-content {
    font-size: 14px;
    font-family: Microsoft YaHei;
    border: 0px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    overflow: hidden;
}

.record-card-hander {
    color: #888;
    width: 100%;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    overflow: hidden;
}

.record-right {
    height: 100%;
    border: 0px solid black !important;
}

.record-left {
    height: 100%;
}

.record-img {
    border-bottom: 0px solid black;
    z-index: 2;
}

.record-leftfirst {
    height: 100%;
    margin-top: 35px;
}

.record-leftsecond {
}

.record-vertical-line {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 114px;
    width: 2px;
    background-color: #DCE0E7;
    transform: translateX(-50%);
    z-index: 1;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}